header {
    text-align: center;
    background-color: #f7fcfb;
}
header * {
    font-weight: 300;
}
header > div {
    max-width: 1300px;
    margin: auto;
    width: 90%;
    border-bottom: 1px solid #d7d7d7;
    padding: 2.5rem 0;
}
header > div > h1 {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin: 0;
}

header > nav {
    padding: 1.6rem 0;
}
header > nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
header > nav a {
    margin: 26px 10px;
    color: #2c2b2a;
}
header > div > h1 .diff_char {
    color: #31a893;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    color: #2c2b2a;
    margin: 0;
    font-size: 1.75rem;
}