main {
    max-width: 1300px;
    margin: 4rem auto 0;
    padding: 0 1% 3rem;
}
form.form_product_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
form.form_product_list h2 {
	color: #363636;
	font-weight: 500;
	letter-spacing: 5.6px;
	margin: auto;
}
form.form_product_list label span {
	font-size: 1.2rem;
}
form.form_product_list label {
	display: flex;
	align-items: center;
}
form.form_product_list label input {
	border: 0;
	font-size: 1rem;
}
form.form_product_list label input[type=search] {
	border-bottom: 2px solid rgba(49,168,147, .5);
}
form.form_product_list label input[type=search]:focus {
	outline: none;
}
form.form_product_list label.range_filter input {
    width: 50%;
    margin-left: auto;
}




form.form_product_list label.range_filter input {
     -webkit-appearance: none;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #c3c3c3;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 0px #325f5d;
  background-image: linear-gradient(90deg, #16a79f 0%, #26cbc7 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]::-webkit-slider-thumb:active {
  background: #18a79d;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #c3c3c3;
  border: 0px solid #000101;
}
input[type=range]::-ms-fill-lower {
  background: #c3c3c3;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-moz-range-track {
  background: #c3c3c3;
}

input[type=range]::-moz-range-thumb {
  border: 0px solid #000000;
  box-shadow: 0px 1px 1px 0px #325f5d;
  background-image: linear-gradient(90deg, #16a79f 0%, #26cbc7 100%);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb:active{
    background: #18a79d;
}





ul.item_list {
	display: flex;
    flex-wrap: wrap;
    padding: 0;
}
 ul * {
 		color: #363636;
 }
ul.item_list li {
	margin: 3.5rem 0.78rem;

}
ul.item_list img {
	object-fit: contain;
    height: 300px;
    width: 300px;
}
ul.item_list li h4 {
	margin: 0;
	font-size: 1.1rem;
}
ul.item_list li p {
	font-size: .9rem;
	font-weight: 300;
	margin: 0;
    font-size: 1.1rem;
    padding: 1.35rem 0 0.85rem;
}
label span {
	color: #31a893;
}

/*mobile changes*/


@media screen and (max-width: 980px) {
    ul.item_list {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    form.form_product_list h2 {
    	order: 1;
    }
    form.form_product_list label {
		width: 100%;
    }
    form.form_product_list label.search_filter {
    	order: 2;
    	width: 100%;
    	margin: 3rem 0; 
    }
    form.form_product_list label.range_filter {
    	order: 3;
    	max-width: 100%;
    	margin: auto;
    }
    form.form_product_list label.search_filter span {
    	font-size: 1.4rem;
    }
    form.form_product_list label input {
    	width: 95%;
    }
    form.form_product_list label.range_filter input{
    	width: 70%;
    	margin-left: auto;
    }
}