main > div {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 4rem auto 0;
    padding: 0 1% 3rem;    
}
main > div > .gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 425px;
    width: 100%;
}
main > div> .gallery > img.active {
    order: 1;
    max-height: 425px;
    max-width: 100%;
    margin: 0;
}
main > div > .gallery > img {
    order: 2;
    max-width: 125px;
    object-fit: contain;
    max-height: 125px;
    width: 100%;
    margin: 1.5rem 0.5rem;
}
.product_description {
    max-width: 400px;
    margin-right: 3rem;
}
.product_description > h2 {
    letter-spacing: 0.7px;

}
.product_description > #price {
    font-size: 1.1rem;
    color: #2c2b2a;
    margin: 1rem 0 2.5rem 0;
}
.product_description > .description {
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: 0.38px;
    color: #2c2b2a;
}
.options_choice {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}
.options_choice label {
    background: #f7fcfb;
    position: relative;
    width: 100%;
    margin: 1rem 0;
}
.options_choice label:after {
    content: "";
    border: solid #434342;
    border-width: 0 1.4px 1.4px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    transform: rotate(45deg);
    left: 90%;
    top: 40%;
    pointer-events: none;
}
.options_choice label:first-of-type {
    margin-top: 0;
}
.options_choice label > select {
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 2px;
    padding-left: 1.3rem;
    -webkit-appearance: button;
    width: 100%;
    background-image: linear-gradient(to top, #f7fcfb, #ffffff);
    border: solid 1px #d5d5d5;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 0.38px;
    color: #2c2b2a;
}
.options_choice label > select:focus {
    outline: none;
}
.options_choice label > select > option {
    color: rgba(93, 113, 145, 1);
    background-image: linear-gradient(to top, #f7fcfb, #ffffff);
}
.options_choice .add_to_card {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem 0;
}
.options_choice .add_to_card input {
    height: 2.5rem;
    width: 5.3rem;
    border-radius: 5px;
    border: solid 1px #c4c4c4;
    font-size: 1rem;
    text-align: center;
    margin: 0 .5rem;
}
.options_choice .add_to_card button {
    background-image: linear-gradient(to top, #f7fcfb, #ffffff);
    width: 1rem;
    height: 1rem;
    border: solid 1px #d5d5d5;
    padding: 0;
    position: relative;
}
.options_choice .add_to_card button:before, .options_choice .add_to_card button.inc_symbol:after {
    content: " ";
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 70%;
    transform: translate(-50%, 0%);
}
.options_choice .add_to_card button.inc_symbol:after {
    transform: translate(-55%, 0%) rotate(90deg);
}
.options_choice .add_to_card > div {
    display: flex;
    align-items: center;
}
.options_choice .add_to_card > span {
    padding-left: 1.3rem;
}
.options_choice > button {
    height: 3.2rem;
    box-shadow: 0 1px 3px 0 rgba(7, 7, 8, 0.46);
    background-image: linear-gradient(to top, #31a893, #34ceb3);
    border: none;
    line-height: 1.72;
    letter-spacing: .5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}

/*mobile changes*/

@media screen and (max-width: 980px) {
    main {
        flex-wrap: wrap;
    }
    main > .gallery {
        max-width: 100%;
        text-align: center;
    }
    header > div {
        padding: 1.4rem 0;
    }
    main > .gallery > img {
        max-width: 135px;
        max-height: 135px;
    }
    .product_description {
        margin: 0;
        max-width: 100%;
    }
    .options_choice {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .options_choice label:first-of-type {
        margin-top: auto;
    }
    .options_choice label {
        width: 48%;
        margin: 1rem auto;
    }
    .options_choice > button {
        width: 100%;
    }
    .options_choice .add_to_card {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    main {
        padding: 0 3% 1.5rem;
    }

    .options_choice .add_to_card {
        width: 100%;
    }
    .options_choice label {
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    header > div > h1 {
        font-size: 1.3rem;
    }
    main > .gallery > img {
        margin: .5rem 0.3rem;
    }
    .options_choice label > select {
        padding-left: .5rem;
    }
    .options_choice .add_to_card > span {
        padding-left: .5rem;
    }
    .options_choice .add_to_card input {
        width: 3.8rem;
        height: 2rem;
    }
}